body {
	background: black;
	margin: 0;
	font-family: "Courier New";
}

h1 {
	text-align: center;
	background: steelblue;
	line-height: 1.1;
	color: white;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

#rgb {
	font-size: 200%;
}

#status {
	display: inline-block;
	width: 20%;
	color: black;
}

#secondHeader {
	background: white;
	height: 30px;
	text-align: center;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

button:hover {
	color: white;
	background: steelblue;
}

.selected {
	color: white;
	background: steelblue;
}

.container {
	max-width: 600px;
	margin: 20px auto;
	padding: 
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	margin: 1.6%;
	float: left;
	border-radius: 15%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}